

[class^="col"] {
    height: 50px;
}

/* margins */

.margin-bottom-10 {
    margin-bottom: 10px;
}

/* backgrounds */

.background-blue {
    background-color: dodgerblue;
    border: 1px solid white;
    color: white;
    line-height: 50px;
}



