

[class^="col"] {
    min-height: 50px;
}

/* margin and padding*/

.padding-10 {
    padding: 10px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

/* backgrounds */

.background-blue {
    background-color: dodgerblue;
    border: 1px solid white;
    color: white;
    line-height: 50px;
}

.background-green {
    background-color: #00E165;
    border: 1px solid dodgerblue;
    color: white;
    line-height: 50px;
}
